<ion-header>
  <ion-toolbar>
    <ion-title>List Your Property</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <ion-card>
  <ion-card-header>
    <ion-card-title >List Your Property</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-list>
      <ion-item><ion-input type="number" placeholder="Street number" [(ngModel)]="streetNo" clearInput></ion-input></ion-item>
      <ion-item><ion-input type="text" placeholder="Street name" [(ngModel)]="streetName" clearInput></ion-input></ion-item>
      <ion-item><ion-input type="number" placeholder="Price" [(ngModel)]="price" clearInput></ion-input></ion-item>
      <ion-item><ion-input type="number" placeholder="Bedrooms" [(ngModel)]="Bedrooms" clearInput></ion-input></ion-item>
      <ion-item><ion-input type="number" placeholder="Bathrooms" [(ngModel)]="Bathrooms" clearInput></ion-input></ion-item>
      <ion-item><ion-checkbox disabled="false"></ion-checkbox>Pets Not Allowed</ion-item>



      <ion-item>
        <ion-label>MM DD YY</ion-label>
        <ion-datetime displayFormat="MM DD YY" placeholder="Available From"></ion-datetime>
      </ion-item>
      <ion-item><input #fileInput type="file" accept="image/*" (change)="imageSelected(fileInput.files)" multiple></ion-item>

    </ion-list>
    <ion-button color="secondary" expand="full" class="centerbutton" (click)="closeAddPropertyModal()">Submit</ion-button>

    <img src={{imageFile}}>
  </ion-card-content> 
  </ion-card>
</ion-content>
