
<ion-content [fullscreen]="true" >
  <ion-header collapse="condense">


  </ion-header>
  <ion-searchbar placeholder="Search Properties" (ionInput)=onSearchChange($event) class="propSearchBar"></ion-searchbar>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add-circle"  (click)="addPropertyModal()"></ion-icon>
    </ion-fab-button>
  </ion-fab>

 <ion-list>
    <ion-item-sliding side="start"  *ngFor="let property of properties; index as i">
      <!--  <ion-item routerLink ="/propertydetails/index"><ion-item (click)="viewProperty(i)"> -->
        <ion-item (click)="viewProperty(i)">
      <ion-card>
        <img src={{property.photo}} >
        <ion-card-content>
          <ion-card-title></ion-card-title>
         <ion-card-title >{{property.streetNumber}} {{property.streetName}}</ion-card-title>
          <ion-card-subtitle>${{property.price}}</ion-card-subtitle>
        </ion-card-content>
      </ion-card>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger"  (click)="removeProperty(i)">Remove Property</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
