<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  
        <ion-card>
          <ion-card-header>
            <ion-card-title >asd</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-item>
              <ion-label>Stay logged in</ion-label>
              <ion-toggle color ="secondary" (ionChange)="changed()" [checked]="isToggled"></ion-toggle>
            </ion-item>

            <ion-item>
              <ion-button color="secondary" (click)="popup()">Check radio</ion-button>
            </ion-item>

            <ion-item>
              <ion-button color="secondary" (click)="loginModal()">Login</ion-button>

            </ion-item>
          </ion-card-content>
        </ion-card>
        
         

</ion-content>
