<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Market Analsyis
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Market Analsyis</ion-title>
    </ion-toolbar>
  </ion-header>


 <ion-card>
   <ion-card-header>Market Value</ion-card-header>
   <ion-card-content>
  <canvas #lineCanvas></canvas> 
</ion-card-content>
</ion-card>
<!-- <ion-button (click)="updateChart()">update graph</ion-button> -->



</ion-content>
